.breadcrumbs{
    margin: 0;
    display: flex;
    width: 100%;
    background-color: rgba(205, 205, 205);
    font-family: 'Poppins', sans-serif;
}
.breadcrumbs ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}
#home{
    padding-left: 40px;
}
.breadcrumbs ul .b-link{
    color: #10131c;
    display: flex;
    align-items: center;
}
.b-text{
    margin-left: 1rem;
}
li{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.svg-home{
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
}
.svg-change{
    width:1.25rem;
    height: 100%;
    margin:0;
}
.svgt{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}